* {
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.w-90 {
  width: 90vh;
}
.mb-53 {
  margin-top: 52px;
}
.container {
  width: 90%;
  height: 90vh;
  background-color: white;
  border-radius: 20px;
  margin-top: 40px;
}

.justify-between {
  justify-content: space-between;
}

.height-70 {
  height: 70vh;
}

.title {
  font-size: 37px;
  font-weight: 600;
  color: #383838;
}

.button {
  color: #ffffff;
  background-image: radial-gradient(
    ellipse farthest-corner at top left,
    #c41417 0%,
    #b31315 100%
  );
  border: 1px solid #b31315;
  border-radius: 10px;
  font-weight: 500;
  padding: 12px 60px;
  font-size: 28px;
  cursor: pointer;
}

.textButton {
  color: #6f6f6f;
  border: none;
  font-size: 22px;
  text-align: center;
  padding: 12px 60px;
  font-size: 28px;
  cursor: pointer;
}

.textButton:hover {
  color: #c41417;
}

input {
  height: 60px;
  color: #4e4e4e;
  border: 3px solid lightgray;
  border-radius: 10px;
  font-size: 34px;
  text-align: center;
}

.w-calc {
  width: calc(100% - 240px);
}

.background {
  background-image: url("./assets/images/bg.jpg");
  height: 100vh;
  width: 100vw;
}

.logo {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 8px;
  width: 100vw;
  height: 40px;
}
.channelChat {
  background-color: #f9f9f9;
  padding-left: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 78vh;
  border-radius: 10px;
  position: relative;
}

.boxMessage {
  background-color: #f0f0f0;
  margin-left: 12px;
  padding: 14px;
  border-radius: 10px;
  width: fit-content;
}

.inputButtom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.textInput {
  position: absolute;
  bottom: 0;
  right: 8px;
  color: #797979;
}

.mt-37 {
  margin-top: 37px;
}

.mt-60 {
  margin-top: 60px;
}

.p-12px-22px {
  padding: 12px 22px;
}

@keyframes moveUpfade {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveUpfade2 {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUpfadeChat {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidefade {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slidefade-animation {
  animation: slidefade 1s ease-in-out;
}

.moveup-animation {
  animation: moveUpfade 0.8s ease-in-out;
}
.moveup-animation2 {
  animation: moveUpfade2 0.8s ease-in-out;
}

.moveUpfadeChat-animation {
  animation: moveUpfadeChat 0.8s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #ccc;
  // text-shadow: 0 0 25px blue ;
}

.swal2-styled {
  border: 0 !important;
  border-radius: 1.5rem !important;
  box-shadow: 0 0 0 !important;
  background: initial;
  color: #fff;
  font-size: 16px !important;
  line-height: 1.25rem !important;
  padding-top: 0.5rem !important; /* 8px */
  padding-bottom: 0.5rem !important; /* 8px */
  padding-left: 2rem !important; /* 32px */
  padding-right: 2rem !important;
}
.swal2-styled.swal2-confirm {
  border: 0 !important;
  border-radius: 0.6rem !important;
  background: initial;
  background-color: #b31315 !important;
  color: #fff;
  box-shadow: 0 0 0 !important;
  font-size: 16px !important;
  line-height: 1.25rem !important;
  padding-top: 0.5rem !important; /* 8px */
  padding-bottom: 0.5rem !important; /* 8px */
  padding-left: 2rem !important; /* 32px */
  padding-right: 2rem !important;
}
